## Credit Card Fraud Detection 

Credit card fraud detection is a critical application of machine learning in the financial sector. It involves using computational techniques to identify and prevent unauthorized or fraudulent credit card transactions. This process is essential for safeguarding the financial interests of both cardholders and financial institutions. Here are the key aspects of credit card fraud detection using machine learning:

In [23]:
# Import libraries
import pandas as pd

In [24]:
# Load the dataset
dataset = pd.read_csv(r"C:\Users\kundu\Downloads\fraudTrain.csv")

In [25]:
dataset.shape

(1048575, 23)

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1048575 non-null  int64
 1   trans_date_trans_time  1048575 non-null  object
 2   cc_num                 1048575 non-null  float64
 3   merchant               1048575 non-null  object
 4   category               1048575 non-null  object
 5   amt                    1048575 non-null  float64
 6   first                  1048575 non-null  object
 7   last                   1048575 non-null  object
 8   gender                 1048575 non-null  object
 9   street                 1048575 non-null  object
 10  city                   1048575 non-null  object
 11  state                  1048575 non-null  object
 12  zip                    1048575 non-null  int64
 13  lat                    1048575 non-null  float64
 14  long                   1048575 non-null  float64
 15  city_pop               1048575 non-null  int64
 16  job                    1048575 non-null  object
 17  dob                    1048575 non-null  object
 18  trans_num              1048575 non-null  object
 19  unix_time              1048575 non-null  int64
 20  merch_lat              1048575 non-null  float64
 21  merch_long             1048575 non-null  float64
 22  is_fraud               1048575 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 184.0+ MB

In [27]:
#printing the head of the data
dataset.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0